<link href='http://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>

<link href='http://fonts.googleapis.com/css?family=Dancing+Script:700' rel='stylesheet' type='text/css'>

<header>
  <h1 class="site-title" style="font-family: 'Dancing Script', serif;"><a href="/">{{ site.name }}</a></h1> 
  <!-- <h1 class="site-title"><a href="/">{{ site.name }}</a></h1> -->
  <nav class="main-nav">
    <a href="#" class="opener show-on-mobiles">...</a>
    <div class="clear-opener show-on-mobiles"></div>
    <div class="grid">
      <ul>
        <li><a href="/">Home</a></li>
		<li><a href="/resume">Resume</a></li>
		<li><a href="/research">Research</a></li>
		<li><a href="/devel_zone">Devel Zone</a></li>
		<li><a href="/tech_notes">Tech Notes</a></li>
		<li><a href="http://wiki.rdu.im">Wiki</a></li>
      </ul>
    </div>
  </nav>
</header>
